

body {
	height: 100%;
  background-color: rgb(238, 242, 237);
  /*background-image: -webkit-linear-gradient(270deg, rgba(109, 163, 173, .4), rgba(64, 48, 38, .9)), url("https://media.licdn.com/mpr/mpr/jc/AAEAAQAAAAAAAAcuAAAAJDc5ZWU0MmFmLTQ2MjktNGE2MS1iZWJiLWJlZGQwMmMxZGZlYQ.jpg");*/
  /*background-image: -webkit-linear-gradient(270deg, rgba(109, 163, 173, .4), rgba(64, 48, 38, .9)), url("./assets/picard_bw.jpg");*/
  /*background-size: auto, cover;*/
  /*background-repeat: repeat, no-repeat;*/
  /*background-attachment: scroll, scroll;*/
  /*font-family: 'Open Sans', sans-serif;*/
  /*color: #f4ecec;*/
  font-size: 14px;
  line-height: 20px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



.logo {
	max-width: 20%;
	align:top;
}

.fb-login img {
  width: 200px;
}

form {
  text-align: left;
}

h1 {
  text-align: center;
}


form {
box-shadow: none;



}
