


body {
	height: 100%;
  background-color: rgb(238, 242, 237);
  /*background-image: -webkit-linear-gradient(270deg, rgba(109, 163, 173, .4), rgba(64, 48, 38, .9)), url("https://media.licdn.com/mpr/mpr/jc/AAEAAQAAAAAAAAcuAAAAJDc5ZWU0MmFmLTQ2MjktNGE2MS1iZWJiLWJlZGQwMmMxZGZlYQ.jpg");*/
  /*background-image: -webkit-linear-gradient(270deg, rgba(109, 163, 173, .4), rgba(64, 48, 38, .9)), url("./assets/picard_bw.jpg");*/
  /*background-size: auto, cover;*/
  /*background-repeat: repeat, no-repeat;*/
  /*background-attachment: scroll, scroll;*/
  /*color: #f4ecec;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.logo {
	max-width: 20%;
	align:top;
}

.navbar-right {
  margin-top: 10px; 
}

form {
  text-align: left;
}

h1 {
  font-family: 'Lily Script One', sans-serif;
  font-size: 48px;
  text-align: center;
}


form {
<<<<<<< 7c26947a3d126e1f3d9ce693cc0d1da45c9b5a55
box-shadow: none;
}

.phone-container {
  position: relative;

}

.talk-bubble {
    margin: 40px;
    display: inline-block;
    width: 200px;
    height: auto;
    background-color: lightgrey;
    position: absolute;
    left: 12px;
    top: 100px;
    font-family: 'Helvetica';
    font-size: 12px;
}
.tri-right.right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: lightgrey transparent transparent lightgrey;
}

.round {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.talktext {
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
=======
	box-shadow: none;
}


.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

p {
	position: absolute;

	float: left;
	/*width: 200px;*/
	 text-shadow: none;
	 font-family: -apple-system, BlinkMacSystemFont, sans-serif;
   top: 200px;
   /*width: 10px;*/
	 /*word-wrap: normal;*/
   font-size : 12px;
   margin : -7px 10px 0px 115px;
>>>>>>> added styling for adding text while typing
}

.p-complete {
  max-width: 375px;
}

.btn-complete {
border-radius: 5px;}
