
body {
	height: 100%;
  background-color: rgb(238, 242, 237);
  /*background-image: -webkit-linear-gradient(270deg, rgba(109, 163, 173, .4), rgba(64, 48, 38, .9)), url("https://media.licdn.com/mpr/mpr/jc/AAEAAQAAAAAAAAcuAAAAJDc5ZWU0MmFmLTQ2MjktNGE2MS1iZWJiLWJlZGQwMmMxZGZlYQ.jpg");*/
  /*background-image: -webkit-linear-gradient(270deg, rgba(109, 163, 173, .4), rgba(64, 48, 38, .9)), url("./assets/picard_bw.jpg");*/
  /*background-size: auto, cover;*/
  /*background-repeat: repeat, no-repeat;*/
  /*background-attachment: scroll, scroll;*/
  /*color: #f4ecec;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.logo {
	max-width: 100%;
	align:top;
}

form {
  text-align: left;
}

h1 {
  font-family: 'Lily Script One', sans-serif;
  font-size: 48px;
  text-align: center;
}


form {
  box-shadow: none;
}

.phone-container {
  position: relative;
}

.talk-bubble {
  margin: 40px;
  display: inline-block;
  width: 200px;
  height: auto;
  background-color: lightgrey;
  position: absolute;
  left: 12px;
  top: 100px;
  font-family: 'Helvetica';
  font-size: 12px;
}

.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: lightgrey transparent transparent lightgrey;
}

.arrow-top {
  float: right;
  left: 5px;
}

.round {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

.p-complete {
  max-width: 375px;
}

.navbar-brand {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 200px;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.btn-complete {
  border-radius: 5px;
}
