<h1 class ="heading1-on-create">Add a goal, you worthless piece of shit...</h1>
<br />

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">

    <h3>your info <small>(required)</small></h3>
    <hr />
    <form name="goalForm" ng-submit="addUser()" novalidate>

      <!--  GOAL -->
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-4 col-form-label">* What do you want to accomplish?</label>
        <div class="col-xs-8">
          <input ng-model="user.goal" class="form-control" type="text" placeholder="Get off your ass!" id="example-text-input" required>
        </div>
      </div>

      <!-- PHONE NUMBER -->
      <div class="form-group row">
        <label for="example-tel-input" class="col-xs-4 col-form-label">* Your cellphone</label>
        <div class="col-xs-8">
          <input ng-model="user.phoneNumber" class="form-control" type="tel" pattern="^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$" placeholder="(555)-555-5555" id="example-tel-input" required>
        </div>
      </div>
      <br />



      <h3>add a buddy to keep you in line</h3>
      <hr />

      <!-- BUDDY NAME -->
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-4 col-form-label">  Buddy's name</label>
        <div class="col-xs-8">
          <input ng-model="user.buddyName" class="form-control" type="text" placeholder="Don't make us call your mother..." id="example-text-input">
        </div>
      </div>

      <!-- BUDDY PHONE -->
      <div class="form-group row">
        <label for="example-tel-input" class="col-xs-4 col-form-label">  Buddy's cellphone</label>
        <div class="col-xs-8">
          <input ng-model="user.buddyPhone" class="form-control" type="tel" pattern="^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$" placeholder="(555)-555-5555" id="example-tel-input">
        </div>
      </div>

      <!-- TOS ACCEPT -->
      <div class="form-check">
        <label class="form-check-label">*
        <input ng-model="user.acceptsTerms" class="form-check-input" type="checkbox" required />
        <small> I agree to the weird terms, accept text messaging charges, and generally sign away all rights </small></label>
      </div>
      <br />


      <button type="submit" class="btn btn-primary btn-block" ng-disabled="goalForm.$invalid || !user.acceptsTerms">Start the machine & start getting hassled</button>

    </form>
  </div>
  <!-- <div class="col-xs-6 col-md-4">
    <div class="image-column w-col w-col-6 w-col-medium-6"><img class="iphone-image" sizes="(max-width: 479px) 167px, (max-width: 767px) 190px, 335px" src="assets/phone_image.png" srcset="assets/phone_image.png 500w, assets/phone_image.png 670w" width="335"></div>
  </div> -->
  <div class="col-xs-6 col-md-4" ng-model="user.goal">
    <div class="image-column w-col w-col-6 w-col-medium-6 phone-container"><img class="iphone-image" sizes="(max-width: 479px) 167px, (max-width: 767px) 190px, 335px" src="assets/phone_image.png" srcset="assets/phone_image.png 500w, assets/phone_image.png 670w" width="335">
      <div class="talk-bubble tri-right round right-in">
        <div class="talktext">How did you do on your goal of: # {{user.goal}} #<br><br> Reply 1 for 'yes'/ 2 for 'no'</div>
      </div>
    </div>

  </div>

</div>
