<div>

 <h1>Set Alert</h1>
 <form>
   Your goal:<input type='text' placeholder="input your goal" />
   <table class="table table-bordered">
   <tr>
   <td>setDate</td>
   <td>Score</td> 	
   </tr>

   <tr>
   	<th>
   	<input ng-model="timeArea" type="date" id="exampleInputTime">
   	</th>
   	<th>
   	   <input type="number" />
   	</th>
   </tr>

   <tr>
   	<th>
   	<input ng-model="timeArea" type="date" id="exampleInputTime">
   	</th>
   	 <th>
   	   <input type="number" />
   	</th>
   </tr>
   <tr>
   	<th>
   	<input ng-model="timeArea" type="date" id="exampleInputTime">
   	</th>
   	<th>
   	   <input type="number" />
   	</th>
   </tr>
   <tr>
   	<th>
   	<input ng-model="timeArea" type="date" id="exampleInputTime">
   	</th>
   	<th>
   	   <input type="number" />
   	</th>
   </tr>
  
   </table>

 </form>


</div>