
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h1 ng-model="user.name">{{user.name}}</h1>

    <br />
    <h3 ng-model="user.goal"><strong>goal:</strong> {{user.goal}}</h3>
    <hr />

    <div>

      <table class="table table-striped">
        <div ng-model="user.buddyName">
          <strong>buddy name:</strong> {{user.buddyName}}
        </div>
        <div ng-model=user.buddyPhone>
          <strong>buddy phone:</strong> ({{user.buddyPhone.slice(0, 3)}}) {{user.buddyPhone.slice(3, 6)}}-{{user.buddyPhone.slice(6)}}
        </div>
      </table>

      <a href="#/complete"><button class="btn-complete">I'm so done!</button></a>

    </div>


    <h3>your progress</h3>

    <hr />
    <div class="progress">
    <div class={{progBarClass}} role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style={{progBarStyle}}>
        <p> {{user.grade}}% </p>
        <span class="sr-only">0% Complete</span>
      </div>
    </div>
    <table class="table table-striped">
      <!-- <thead>
        <tr>
          <th>Date</th>
          <th>Response</th>
        </tr>
      </thead> -->
      <tbody>
        <tr ng-repeat="response in responses track by $index">
          <td>{{response[0]}}</td>
          <td>{{response[1]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xs-6 col-md-4" ng-model="user.goal">
    <div class="image-column w-col w-col-6 w-col-medium-6 phone-container"><img class="iphone-image" sizes="(max-width: 479px) 167px, (max-width: 767px) 190px, 335px" src="assets/phone_image.png" srcset="assets/phone_image.png 500w, assets/phone_image.png 670w" width="335">
  <div class="talk-bubble tri-right round right-in">
  <div class="talktext">How did you do on your goal of:  # {{user.goal}} #<br><br> Reply 1 for 'yes'/ 2 for 'no'</div>
    </div>
  </div>


</div>
