
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h1 ng-model="user.name">{{user.name}}</h1>

    <br />
    <h3 ng-model="user.goal"><strong>goal:</strong> {{user.goal}}</h3>
    <hr />

    <div>

      <table class="table table-striped">
        <div ng-model="user.buddyName">
          <strong>buddy name:</strong> {{user.buddyName}}
        </div>
        <div ng-model=user.buddyPhone>
          <strong>buddy phone:</strong> ({{user.buddyPhone.slice(0, 3)}}) {{user.buddyPhone.slice(3, 6)}}-{{user.buddyPhone.slice(6)}}
        </div>
      </table>

      <a href="#/finish"><button type="button" class="btn btn-danger">I'm so done</button></a>

    </div>


    <h3>your progress</h3>

    <hr />
    <table class="table table-striped">
      <tbody>
        <tr ng-repeat="response in responses track by $index">
          <td class="res-date">{{response[0]}}</td>
          <td class="res-text">{{response[1]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div>When Your Goal is reach 100% Completed  🎉<button ng-click="click()" class="btn btn-link">click</button><span>to see your present photo😏<span></div>
   <img ng-src="{{imageSrc}}" id="image1">
    </div>
  </div> -->


</div>
